/*
ac #75d1b8

bg #ffdec7

oc #94a4ff

pk #f77286
*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: "JetBrains Mono", serif;
  color: #f77286;
}

body {
  overflow: hidden;
  background-color: #fff;
}

.total {
  position: absolute;
  width: 80%;
  height: 90vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.piece {
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  height: 72vh;
}
.title {
  font-size: 10vw;
  margin: 10px;
}
.description {
  width: 100%;
  text-align: center;
  margin: 30px auto;
  font-size: 4.8vw;
}
.download {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  font-size: 6vw;
}


.button-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 10px;
  bottom: 0vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10%;
  width: max(80%, 250px);
  height: 12vh;
  background-color: beige;
}
.button {
  display: flex;
  height: 80px;
  width: 80px;
}
.arrow-picture {
  height: 80px;
  width: 80px;
}


#about-me{
  display: flex;
}
#profile-pic {
  width: 50%;
  min-width: 200px;
  border-radius: 50%;
  border: 3px solid #f77286;
}

#piggy {
  display: none;
  background-color: #fff;
  z-index: 10;
}
#piggy h1 {
  margin-top: 15%;
  font-size: 9vw;
}
#piggy-info {
  position: absolute;
  width: 100%;
  height: 107vw;
  background-color: beige;
  z-index: -10;
}
#piggy-png {
  width: 100%;
}
