/*
ac #75d1b8

bg #ffdec7

oc #94a4ff

pk #f77286
*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: "JetBrains Mono", serif;
  color: #f77286;
}

body {
  z-index: 0;
  overflow: hidden;
  background-color: #fff;
}

.total {
  position: absolute;
  width: 80%;
  max-width: 360px;
  height: 90vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.piece {
  position: absolute;
  display: flex;
  max-width: 360px;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  display: none;
  background-color: #fff;
  z-index: 10;
}
.piece h1{
  margin-top: 3%;
  font-size: min(30px, 7vw);
}
.title {
  font-size: min(50px, 12vw);
  margin: 10px;
}
.description {
  width: 95%;
  text-align: center;
  margin: 10px auto;
  font-size: 19px;
}
.download {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: min(28px, 5vw);
}


.button-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: min(14vh, 300px);
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10%;
  width: max(80%, 250px);
  height: 6vh;
  background-color: #fff;
}
.button {
  cursor: pointer;
  display: flex;
  height: 65px;
  width: 65px;
}
.arrow-picture {
  height: 65px;
  width: 65px;
}
#shuffle {
  height: 70px;
  width: 70px;
}
#shuffle-picture {
  height: 70px;
  width: 70px;
}
.profile-pic {
  width: 50%;
  min-width: 200px;
  max-width: 200px;
  border-radius: 50%;
  border: 3px solid #f77286;
}

.info {
  position: absolute;
  width: 100%;
  background-color: beige;
  z-index: -10;
  border-radius: 15%;
}
.png {
  width: 100%;
  border-radius: 10%;
}

#sierra{
  display: flex;
  background-color: #8ee6ce;
  max-height: 600px;
  border-radius: 13%;
}

#elephant-png {
  border-radius: 0%;
}
#elephant-info {
  height: 90vw;
  max-height: 403px;
  background-color: beige;
  border-radius: 0%;
}

#naples-png {
  border-radius: 0%;
}
#naples-info {
  height: 80.9vw;
  max-height: 363px;
  background-color: beige;
  border-radius: 0%;
}

#bricks-png {
  border-radius: 0%;
}
#bricks-info {
  height: 62.9vw;
  max-height: 281.5px;
  background-color: beige;
  border-radius: 0%;
}

#turtle-png {
  border-radius: 0%;
}
#turtle-info {
  height: 60vw;
  max-height: 269px;
  background-color: beige;
  border-radius: 0%;
}

#cream-png {
  border-radius: 0%;
}
#cream-info {
  height: 106.7vw;
  max-height: 480px;
  background-color: beige;
  border-radius: 0%;
}

#bottle-png {
  border-radius: 0%;
}
#bottle-info {
  height: 38.8vw;
  max-height: 174px;
  background-color: beige;
  border-radius: 0%;
}

#piggy-png {
  border-radius: 0%;
}
#piggy-info {
  height: 107vw;
  max-height: 480px;
  background-color: beige;
  border-radius: 0%;
}

#guitar-png {
  border-radius: 0%;
}
#guitar-info {
  height: 115vw;
  max-height: 515px;
  background-color: beige;
  border-radius: 0%;
}

#jasmine-png {
  border-radius: 0%;
}
#jasmine-info {
  height: 107vw;
  max-height: 460px;
  background-color: beige;
  border-radius: 0%;
}

#blanket-png {
  border-radius: 0%;
}
#blanket-info {
  height: 108.8vw;
  max-height: 468px;
  background-color: beige;
  border-radius: 0%;
}

#ceiling-png {
  border-radius: 0%;
}
#ceiling-info {
  height: 53vw;
  max-height: 238px;
  background-color: beige;
  border-radius: 0%;
}

#sabetha-png {
  border-radius: 0%;
}
#sabetha-info {
  height: 110.3vw;
  max-height: 465px;
  background-color: beige;
  border-radius: 0%;
}

#icicles-png {
  border-radius: 0%;
}
#icicles-info {
  height: 63.8vw;
  max-height: 283px;
  background-color: beige;
  border-radius: 0%;
}

#alex{
  display: flex;
  background-color: #8ee6ce;
  max-height: 600px;
  border-radius: 0%;
}

#mobile{
  display: none;
}

@media screen and (min-width: 451px) {
  .total {
    margin: auto;
  }
  #mobile{
    width: 100%;
    display: inline-block;
    position: absolute;
    margin-bottom: 10px;
    bottom: 0;
    text-align: center;
    font-size: min(4vh, 5vw);
    color: #de4545;
  }
  .button-container {
    bottom: min(11vh, 300px);
  }
  .button {
    margin: 0px 20px;
    height: 90px;
    width: 90px;
  }
  .arrow-picture {
    height: 90px;
    width: 90px;
  }
}
